@page "/admin"
@using CBPresents.Shared.Models;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.QuickGrid
@attribute [Authorize(Roles = "Admin")]

<h1>Admin Panel</h1>

<label for="createdDate" class="col-sm-3">Lottery Time:</label>
<InputDateTime id="createdDate" class="form-control text-black" @bind-Value="this.CreatedDate"></InputDateTime>
<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save New Time</button>
    
<br /><br />
<label for="numberOfWiners" class="col-sm-3">Number of Winers:</label>
<InputNumber id="numberOfWiners" class="form-control text-black" @bind-Value="this.NumberOfWiners"></InputNumber>
<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save New Number</button>

<br /><br />

<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Pick Winners now</button>

<QuickGrid Items="@users">
    <PropertyColumn Property="@(u => u.Name)" Sortable="true" />
    <PropertyColumn Property="@(u => u.Email)" Sortable="true" />
    <PropertyColumn Property="@(u => u.IsWinner)" Sortable="true" />
</QuickGrid>

@code {
    //record User(string Name, string Email, bool IsWinner);

    public DateTime CreatedDate { get; set; }
    public int NumberOfWiners { get; set; }

    public IQueryable<User> users { get; set; }

    protected override void OnInitialized()
    {
        this.CreatedDate = DateTime.Now;
        this.NumberOfWiners = 50;

        users = new[]
        {
            new User() 
            {
                Email = "SSIvanov19@codingburgas.bg",
                Name = "Стоян Стоянов Иванов",
                IsWinner = false 
            },
            new User() 
            {
                Email = "ASIvanov22@codingburgas.bg",
                Name = "Александър Стяонов Иванов",
                IsWinner = true 
            },
            new User() 
            {
                Email = "SSIvanov19@codingburgas.bg",
                Name = "Stoyan Ivanov",
                IsWinner = false 
            },
            new User() 
            {
                Email = "SSIvanov19@codingburgas.bg",
                Name = "Stoyan Ivanov",
                IsWinner = false 
            },
            new User() 
            {
                Email = "SSIvanov19@codingburgas.bg",
                Name = "Stoyan Ivanov",
                IsWinner = false 
            },
            new User() 
            {
                Email = "SSIvanov19@codingburgas.bg",
                Name = "Stoyan Ivanov",
                IsWinner = false 
            },
            new User() 
            {
                Email = "SSIvanov19@codingburgas.bg",
                Name = "Stoyan Ivanov",
                IsWinner = false 
            },
            new User() 
            {
                Email = "SSIvanov19@codingburgas.bg",
                Name = "Stoyan Ivanov",
                IsWinner = false 
            },
            
    }.AsQueryable();
    }
}
